.header-trabajo {
  padding: 0;
  & img {
    width: 100%;
    box-shadow: var(--elevation-3);
  }
  & p.cita {
    text-align: right;
    font: var(--p-b);
  }
}


.tarjeta-chica {
  border-radius: 0;
  border: 0.1rem dashed var(--azul);
  background-color: var(--blanco);
  img {
    border-radius: 0;
  }
  .cuerpo-tarjeta-chica {
    margin: var(--tamano-8);
    .texto-tarjeta {
      border-bottom: 1px dashed var(--cafe);
      padding: var(--tamano-8);
    }
  }
}
.tarjeta-rol {
  background-color: var(--beige);
  box-shadow: var(--elevation-2);
}
.trabajos-internas{
    padding: 0;
    & img{
        width: 100%;
    }
}
.experiencia{
  .estudios{
    background-color: var(--azul-oscuro);
    box-shadow: var(--inset-1), var(--elevation-3);
    h6{
      color: var(--blanco);
    }
  }
  .laboral{
    background-color: var(--amarillo-claro);
    box-shadow: var(--inset-1), var(--elevation-3);
  }
}